# Project: Wrangling and Analyze Data

## Table of Contents


* [Introduction](#intro)
* [Data Wrangling](#wrangling)
* [Exploratory Data Analysis](#eda)
* [Conclusions](#conclusions)

<a id='intro'></a>
## Introduction

This my [Udacity Data Analyst Nanodegree](https://www.udacity.com/course/data-analyst-nanodegree--nd002) second project. The goal here is to demonstrate my Data Wrangling ability. I am required to retrieve piece of data through different sources, put them together to form a whole, assess and clean them, before gaining valuable insights from them.

In [1]:
import pandas as pd
import numpy as np

import requests
import os

import tweepy
from tweepy import OAuthHandler
import json
from timeit import default_timer as timer

# regular expression
import re

import matplotlib.pyplot as plt
import seaborn as sb

from dateutil.parser import parse
from datetime import datetime

%matplotlib inline

In [2]:
def extract_urls_from_str(value)->str:
    """
    Extract urls the given string
    Return : urls, separated by comma
    
    References : 
        - https://www.digitalocean.com/community/tutorials/pandas-dataframe-apply-examples
        - https://stackoverflow.com/questions/499345/regular-expression-to-extract-url-from-an-html-link
    """
    string = str(value)
    urls = re.findall(r'href=[\'"]?([^\'" >]+)', string)
    return ', '.join(urls)

In [3]:
def operate_datetime_feature_engineering(df:pd.DataFrame, datetime_column:str, verbose=False)->pd.DataFrame:
    """
        Generate new features for our samples, in order to answer questions related to :
            - day periods (morning, miday, evening, afternoon, ...)
            - day (monday, tuesday, ...)
            - month (Jan, Feb, ...)

        Code based on the courses given by Prof @Stanley Omeike on OneCampus Academy.
        
        @param df:pd.DataFrame : the dataframe in which to do the feature engineering
        @param datetime_column:str : column based on which to do the feature engineering
        
        @return : the new dataframe, containing the generated columns
        
        References :
            - Code based on a course given by Prof @Stanley Omeike on OneCampus Academy
            - https://sparkbyexamples.com/pandas/how-to-format-pandas-datetime/
            - https://stackoverflow.com/questions/1759455/how-can-i-account-for-period-am-pm-using-strftime
    """

    # standardize the format of the column, and parse it to str in order to allow further work on it
    dCol = tweets_master_df[datetime_column].dt.strftime("%Y-%m-%d %I:%M:%S %p").astype(str) #tweets_master_df["timestamp"].astype(str)
    #dCol

    # print(dates[:2] ) will give something like : [('Sat Jul 26 02:30:00 2008', 'PM'), ('Tue Jul 31 10:57:00 2018', 'AM')]
    dates = [( datetime.ctime(parse(x[0:-3])), x[-2:] ) for x in dCol]

#     print("dates[:2] : ")
#     print(dates[:2])
    
    days = []
    months = []
    periods = []

    unprocesseds = []

    for row in dates:
        day = row[0][0:4]
        month = row[0][4:7]
        time = int(row[0][11:13])

        if row[1]=='AM' and time<=4:
            period = 'Night (after midnight)'
        elif row[1]=='AM' and time<=7:
            period = "Morning"
        elif row[1]=='AM' and time>7:
            period = "Day Time"
        elif row[1] =='PM' and time<=4:
            period = 'Afternoon'
        elif row[1] =='PM' and time<=6:
            period = 'Evening' 
        elif row[1] =='PM' and (time>6 and time<=10):
            period = 'Night (start)'
        elif row[1] =='PM' and time>10:
            period = 'Near Midnight'
        else:
            period = "TODO"
            unprocesseds.append(row[0]+" "+row[1])

        days.append(day)
        months.append(month)
        periods.append(period)
    
    if(len(unprocesseds)>0):
        print("unprocesseds")
        print(unprocesseds)
        print("len(unprocesseds)")
        print(len(unprocesseds))
    
    df['month'] = months
    df['day'] = days
    df['period']= periods
    
    if(verbose):
        df.sample(3).T
        
    return df

## Data Gathering
In the cells below, I will gather all three pieces of data for this project and load them in the notebook.  
**Note:** the methods required to gather each data are different.


**1. 1st piece of data** : Download the WeRateDogs Twitter archive data through a link.                            
*Here, the dataset come from my Udacity account. It is to be consired directly sent to me by email.*

In [4]:
twitter_archive_df = pd.read_csv("twitter-archive-enhanced.csv")
twitter_archive_df.head(3).T

,0,1,2
tweet_id,892420643555336193,892177421306343426,891815181378084864
in_reply_to_status_id,NaN,NaN,NaN
in_reply_to_user_id,NaN,NaN,NaN
timestamp,2017-08-01 16:23:56 +0000,2017-08-01 00:17:27 +0000,2017-07-31 00:18:03 +0000
source,"<a href=""http://twitter.com/download/iphone"" r...","<a href=""http://twitter.com/download/iphone"" r...","<a href=""http://twitter.com/download/iphone"" r..."
text,This is Phineas. He's a mystical boy. Only eve...,This is Tilly. She's just checking pup on you....,This is Archie. He is a rare Norwegian Pouncin...
retweeted_status_id,NaN,NaN,NaN
retweeted_status_user_id,NaN,NaN,NaN
retweeted_status_timestamp,NaN,NaN,NaN
expanded_urls,https://twitter.com/dog_rates/status/892420643...,https://twitter.com/dog_rates/status/892177421...,https://twitter.com/dog_rates/status/891815181...
rating_numerator,13,13,12
rating_denominator,10,10,10
name,Phineas,Tilly,Archie
doggo,None,None,None
floofer,None,None,None
pupper,None,None,None
puppo,None,None,None

**2. 2nd piece of data** : Download data through an API              
*I will use the Requests library to download through an API the tweet image prediction (image_predictions.tsv)*

In [5]:
# Create download folder if not exist
folder_name = "downloads"
folder_path = "./{}".format(folder_name)
if not os.path.exists(folder_path):
    os.makedirs(folder_path)

In [6]:
# Make the download request

# download's url provided in the project's instructions
image_url = "https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv"
image_response = requests.get(image_url)

if image_response.status_code != 200:
    raise Exception("Response status code != from 200")
else:
    print("Request successful")

Request successful

In [7]:
# Save downloaded file
file_name = image_url.split("/")[-1]
file_path = os.path.join(folder_path, file_name)
with open( file_path , mode="wb" ) as file:
    file.write(image_response.content)
    print("File saved on disk")

File saved on disk

In [8]:
# Import downloaded file in a dataframe
image_predictions_df = pd.read_csv(file_path, sep="\t")
image_predictions_df.head(3).T

,0,1,2
tweet_id,666020888022790149,666029285002620928,666033412701032449
jpg_url,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg
img_num,1,1,1
p1,Welsh_springer_spaniel,redbone,German_shepherd
p1_conf,0.465074,0.506826,0.596461
p1_dog,True,True,True
p2,collie,miniature_pinscher,malinois
p2_conf,0.156665,0.074192,0.138584
p2_dog,True,True,True
p3,Shetland_sheepdog,Rhodesian_ridgeback,bloodhound
p3_conf,0.061428,0.07201,0.116197
p3_dog,True,True,True

**3. 3rd piece of data** : Download data through the Twitter API             
*I will use the Tweepy library to query additional data via the Twitter API (tweet_json.txt)*

In [9]:
tweet_ids = image_predictions_df["tweet_id"].values
tweet_ids

array([666020888022790149, 666029285002620928, 666033412701032449, ...,
       891815181378084864, 892177421306343426, 892420643555336193],
      dtype=int64)

In [10]:
# Signify that I have not put my own twitter api key in this notebook
have_put_my_own_api_key = False

# Query Twitter API for each tweet in the Twitter archive and save JSON in a text file
# These are hidden to comply with Twitter's API terms and conditions
consumer_key = "XXX"
consumer_secret = "XXX"
access_token = "XXX"
access_secret = "XXX"

tweet_json_file_name = "tweet_json.txt"
tweet_json_file_path = "./{}".format(tweet_json_file_name)

if have_put_my_own_api_key:
    """ The code below was taken from my Udacity's classroom """
    
    auth = OAuthHandler(consumer_key, consumer_secret)
    auth.set_access_token(access_token, access_secret)

    api = tweepy.API(auth, wait_on_rate_limit=True)

    # Query Twitter's API for JSON data for each tweet ID in the Twitter archive
    count = 0
    fails_dict = {}
    start = timer()
    # Save each tweet's returned JSON as a new line in a .txt file
    with open('tweet_json.txt', 'w') as outfile:
        # This loop will likely take 20-30 minutes to run because of Twitter's rate limit
        for tweet_id in tweet_ids:
            count += 1
            print(str(count) + ": " + str(tweet_id))
            try:
                tweet = api.get_status(tweet_id, tweet_mode='extended')
                print("Success")
                json.dump(tweet._json, outfile)
                outfile.write('\n')
            except tweepy.TweepError as e:
                print("Fail")
                fails_dict[tweet_id] = e
                pass
    end = timer()
    print(end - start)
    print(fails_dict)

Import json file into a dataframe

In [11]:
"""

References : 

- https://www.geeksforgeeks.org/read-json-file-using-python/
- https://www.pythontutorial.net/python-basics/python-read-text-file/
- https://www.freecodecamp.org/news/python-json-how-to-convert-a-string-to-json/

"""
df_list = []

# Open file
with open(tweet_json_file_path,"r") as file:
    #file_content = json.load(file)
    lines = file.readlines()
    #print(lines[0])
    #print(json.loads(lines[0])["created_at"])
    for line in lines:
         df_list.append(json.loads(line))

df_list[:2]

[{'created_at': 'Tue Aug 01 16:23:56 +0000 2017',
  'id': 892420643555336193,
  'id_str': '892420643555336193',
  'full_text': "This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU",
  'truncated': False,
  'display_text_range': [0, 85],
  'entities': {'hashtags': [],
   'symbols': [],
   'user_mentions': [],
   'urls': [],
   'media': [{'id': 892420639486877696,
     'id_str': '892420639486877696',
     'indices': [86, 109],
     'media_url': 'http://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg',
     'media_url_https': 'https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg',
     'url': 'https://t.co/MgUWQ76dJU',
     'display_url': 'pic.twitter.com/MgUWQ76dJU',
     'expanded_url': 'https://twitter.com/dog_rates/status/892420643555336193/photo/1',
     'type': 'photo',
     'sizes': {'large': {'w': 540, 'h': 528, 'resize': 'fit'},
      'thumb': {'w': 150, 'h': 150, 'resize': 'crop'},
      'small': {'w': 540, 'h': 528, 'resize': 'fit'},
      'medium': {'w': 540, 'h': 528, 'resize': 'fit'}}}]},
  'extended_entities': {'media': [{'id': 892420639486877696,
     'id_str': '892420639486877696',
     'indices': [86, 109],
     'media_url': 'http://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg',
     'media_url_https': 'https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg',
     'url': 'https://t.co/MgUWQ76dJU',
     'display_url': 'pic.twitter.com/MgUWQ76dJU',
     'expanded_url': 'https://twitter.com/dog_rates/status/892420643555336193/photo/1',
     'type': 'photo',
     'sizes': {'large': {'w': 540, 'h': 528, 'resize': 'fit'},
      'thumb': {'w': 150, 'h': 150, 'resize': 'crop'},
      'small': {'w': 540, 'h': 528, 'resize': 'fit'},
      'medium': {'w': 540, 'h': 528, 'resize': 'fit'}}}]},
  'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
  'in_reply_to_status_id': None,
  'in_reply_to_status_id_str': None,
  'in_reply_to_user_id': None,
  'in_reply_to_user_id_str': None,
  'in_reply_to_screen_name': None,
  'user': {'id': 4196983835,
   'id_str': '4196983835',
   'name': 'WeRateDogs™ (author)',
   'screen_name': 'dog_rates',
   'location': 'DM YOUR DOGS, WE WILL RATE',
   'description': '#1 Source for Professional Dog Ratings | STORE: @ShopWeRateDogs | IG, FB & SC: WeRateDogs MOBILE APP: @GoodDogsGame | Business: dogratingtwitter@gmail.com',
   'url': 'https://t.co/N7sNNHAEXS',
   'entities': {'url': {'urls': [{'url': 'https://t.co/N7sNNHAEXS',
       'expanded_url': 'http://weratedogs.com',
       'display_url': 'weratedogs.com',
       'indices': [0, 23]}]},
    'description': {'urls': []}},
   'protected': False,
   'followers_count': 3200889,
   'friends_count': 104,
   'listed_count': 2784,
   'created_at': 'Sun Nov 15 21:41:29 +0000 2015',
   'favourites_count': 114031,
   'utc_offset': None,
   'time_zone': None,
   'geo_enabled': True,
   'verified': True,
   'statuses_count': 5288,
   'lang': 'en',
   'contributors_enabled': False,
   'is_translator': False,
   'is_translation_enabled': False,
   'profile_background_color': '000000',
   'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
   'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
   'profile_background_tile': False,
   'profile_image_url': 'http://pbs.twimg.com/profile_images/861415328504569856/R2xOOfwe_normal.jpg',
   'profile_image_url_https': 'https://pbs.twimg.com/profile_images/861415328504569856/R2xOOfwe_normal.jpg',
   'profile_banner_url': 'https://pbs.twimg.com/profile_banners/4196983835/1501129017',
   'profile_link_color': 'F5ABB5',
   'profile_sidebar_border_color': '000000',
   'profile_sidebar_fill_color': '000000',
   'profile_text_color': '000000',
   'profile_use_background_image': False,
   'has_extended_profile': True,
   'default_profile': False,
   'default_profile_image': False,
   'following': True,
   'follow_request_sent': False,
   'notifications': False,
   'translator_type': 'none'},
  'geo': None,
  'coordinates': None,
  'place': None,
  'contributors': None,
  'is_quote_status': False,
  'retweet_count': 8853,
  'favorite_count': 39467,
  'favorited': False,
  'retweeted': False,
  'possibly_sensitive': False,
  'possibly_sensitive_appealable': False,
  'lang': 'en'},
 {'created_at': 'Tue Aug 01 00:17:27 +0000 2017',
  'id': 892177421306343426,
  'id_str': '892177421306343426',
  'full_text': "This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV",
  'truncated': False,
  'display_text_range': [0, 138],
  'entities': {'hashtags': [],
   'symbols': [],
   'user_mentions': [],
   'urls': [],
   'media': [{'id': 892177413194625024,
     'id_str': '892177413194625024',
     'indices': [139, 162],
     'media_url': 'http://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg',
     'media_url_https': 'https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg',
     'url': 'https://t.co/0Xxu71qeIV',
     'display_url': 'pic.twitter.com/0Xxu71qeIV',
     'expanded_url': 'https://twitter.com/dog_rates/status/892177421306343426/photo/1',
     'type': 'photo',
     'sizes': {'large': {'w': 1407, 'h': 1600, 'resize': 'fit'},
      'thumb': {'w': 150, 'h': 150, 'resize': 'crop'},
      'small': {'w': 598, 'h': 680, 'resize': 'fit'},
      'medium': {'w': 1055, 'h': 1200, 'resize': 'fit'}}}]},
  'extended_entities': {'media': [{'id': 892177413194625024,
     'id_str': '892177413194625024',
     'indices': [139, 162],
     'media_url': 'http://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg',
     'media_url_https': 'https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg',
     'url': 'https://t.co/0Xxu71qeIV',
     'display_url': 'pic.twitter.com/0Xxu71qeIV',
     'expanded_url': 'https://twitter.com/dog_rates/status/892177421306343426/photo/1',
     'type': 'photo',
     'sizes': {'large': {'w': 1407, 'h': 1600, 'resize': 'fit'},
      'thumb': {'w': 150, 'h': 150, 'resize': 'crop'},
      'small': {'w': 598, 'h': 680, 'resize': 'fit'},
      'medium': {'w': 1055, 'h': 1200, 'resize': 'fit'}}}]},
  'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
  'in_reply_to_status_id': None,
  'in_reply_to_status_id_str': None,
  'in_reply_to_user_id': None,
  'in_reply_to_user_id_str': None,
  'in_reply_to_screen_name': None,
  'user': {'id': 4196983835,
   'id_str': '4196983835',
   'name': 'WeRateDogs™ (author)',
   'screen_name': 'dog_rates',
   'location': 'DM YOUR DOGS, WE WILL RATE',
   'description': '#1 Source for Professional Dog Ratings | STORE: @ShopWeRateDogs | IG, FB & SC: WeRateDogs MOBILE APP: @GoodDogsGame | Business: dogratingtwitter@gmail.com',
   'url': 'https://t.co/N7sNNHAEXS',
   'entities': {'url': {'urls': [{'url': 'https://t.co/N7sNNHAEXS',
       'expanded_url': 'http://weratedogs.com',
       'display_url': 'weratedogs.com',
       'indices': [0, 23]}]},
    'description': {'urls': []}},
   'protected': False,
   'followers_count': 3200889,
   'friends_count': 104,
   'listed_count': 2784,
   'created_at': 'Sun Nov 15 21:41:29 +0000 2015',
   'favourites_count': 114031,
   'utc_offset': None,
   'time_zone': None,
   'geo_enabled': True,
   'verified': True,
   'statuses_count': 5288,
   'lang': 'en',
   'contributors_enabled': False,
   'is_translator': False,
   'is_translation_enabled': False,
   'profile_background_color': '000000',
   'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
   'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
   'profile_background_tile': False,
   'profile_image_url': 'http://pbs.twimg.com/profile_images/861415328504569856/R2xOOfwe_normal.jpg',
   'profile_image_url_https': 'https://pbs.twimg.com/profile_images/861415328504569856/R2xOOfwe_normal.jpg',
   'profile_banner_url': 'https://pbs.twimg.com/profile_banners/4196983835/1501129017',
   'profile_link_color': 'F5ABB5',
   'profile_sidebar_border_color': '000000',
   'profile_sidebar_fill_color': '000000',
   'profile_text_color': '000000',
   'profile_use_background_image': False,
   'has_extended_profile': True,
   'default_profile': False,
   'default_profile_image': False,
   'following': True,
   'follow_request_sent': False,
   'notifications': False,
   'translator_type': 'none'},
  'geo': None,
  'coordinates': None,
  'place': None,
  'contributors': None,
  'is_quote_status': False,
  'retweet_count': 6514,
  'favorite_count': 33819,
  'favorited': False,
  'retweeted': False,
  'possibly_sensitive': False,
  'possibly_sensitive_appealable': False,
  'lang': 'en'}]

In [12]:
tweets_df = pd.DataFrame(df_list)
tweets_df.head(3).T

,0,1,2
created_at,Tue Aug 01 16:23:56 +0000 2017,Tue Aug 01 00:17:27 +0000 2017,Mon Jul 31 00:18:03 +0000 2017
id,892420643555336193,892177421306343426,891815181378084864
id_str,892420643555336193,892177421306343426,891815181378084864
full_text,This is Phineas. He's a mystical boy. Only eve...,This is Tilly. She's just checking pup on you....,This is Archie. He is a rare Norwegian Pouncin...
truncated,False,False,False
display_text_range,"[0, 85]","[0, 138]","[0, 121]"
entities,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'hashtags': [], 'symbols': [], 'user_mentions...","{'hashtags': [], 'symbols': [], 'user_mentions..."
extended_entities,"{'media': [{'id': 892420639486877696, 'id_str'...","{'media': [{'id': 892177413194625024, 'id_str'...","{'media': [{'id': 891815175371796480, 'id_str'..."
source,"<a href=""http://twitter.com/download/iphone"" r...","<a href=""http://twitter.com/download/iphone"" r...","<a href=""http://twitter.com/download/iphone"" r..."
in_reply_to_status_id,NaN,NaN,NaN
in_reply_to_status_id_str,None,None,None
in_reply_to_user_id,NaN,NaN,NaN
in_reply_to_user_id_str,None,None,None
in_reply_to_screen_name,None,None,None
user,"{'id': 4196983835, 'id_str': '4196983835', 'na...","{'id': 4196983835, 'id_str': '4196983835', 'na...","{'id': 4196983835, 'id_str': '4196983835', 'na..."
geo,None,None,None
coordinates,None,None,None
place,None,None,None
contributors,None,None,None
is_quote_status,False,False,False
retweet_count,8853,6514,4328
favorite_count,39467,33819,25461
favorited,False,False,False
retweeted,False,False,False
possibly_sensitive,False,False,False
possibly_sensitive_appealable,False,False,False
lang,en,en,en
retweeted_status,NaN,NaN,NaN
quoted_status_id,NaN,NaN,NaN
quoted_status_id_str,NaN,NaN,NaN
quoted_status,NaN,NaN,NaN

In [13]:
# # Keep useful columns while discarding the others, as per the project instructions
# tweets_df = tweets_df[ ["id","retweet_count","favorite_count","user","retweeted"] ]
# tweets_df.head(3)

<a href="assessment"> </a>

## Assessing Data
In this section, I will detect and document quality issues and tidiness issue. I will use **both** visual assessment and
programmatic assessement to assess the data.

**Note:** There are few key points to pay attention to when accessing the data.

* I only want original ratings (no retweets) that have images. Though there are 5000+ tweets in the dataset, not all are dog ratings and some are retweets.
* Assessing and cleaning the entire dataset completely would require a lot of time, and is not necessary to practice and demonstrate my skills in data wrangling. Therefore, the requirements of this project are only to assess and clean at least 8 quality issues and at least 2 tidiness issues in this dataset.
* The fact that the rating numerators are greater than the denominators does not need to be cleaned. This [unique rating system](http://knowyourmeme.com/memes/theyre-good-dogs-brent) is a big part of the popularity of WeRateDogs.
* I do not need to gather the tweets beyond August 1st, 2017. I can, but I won't be able to gather the image predictions for these tweets since I don't have access to the algorithm used.

In [14]:
# Looking at the content of twitter_archive_df
twitter_archive_df.head(3).T

,0,1,2
tweet_id,892420643555336193,892177421306343426,891815181378084864
in_reply_to_status_id,NaN,NaN,NaN
in_reply_to_user_id,NaN,NaN,NaN
timestamp,2017-08-01 16:23:56 +0000,2017-08-01 00:17:27 +0000,2017-07-31 00:18:03 +0000
source,"<a href=""http://twitter.com/download/iphone"" r...","<a href=""http://twitter.com/download/iphone"" r...","<a href=""http://twitter.com/download/iphone"" r..."
text,This is Phineas. He's a mystical boy. Only eve...,This is Tilly. She's just checking pup on you....,This is Archie. He is a rare Norwegian Pouncin...
retweeted_status_id,NaN,NaN,NaN
retweeted_status_user_id,NaN,NaN,NaN
retweeted_status_timestamp,NaN,NaN,NaN
expanded_urls,https://twitter.com/dog_rates/status/892420643...,https://twitter.com/dog_rates/status/892177421...,https://twitter.com/dog_rates/status/891815181...
rating_numerator,13,13,12
rating_denominator,10,10,10
name,Phineas,Tilly,Archie
doggo,None,None,None
floofer,None,None,None
pupper,None,None,None
puppo,None,None,None

A quick remark here is that we have dog's stages as column names, which is a tidiness issue that must be dealt with.

In [15]:
# Looking at the structure of twitter_archive_df
twitter_archive_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

We have wrong datatype in the timestamp column, it should be of type datetime

In [16]:
# Checking null values in twitter_archive_df
twitter_archive_df.isnull().sum()

tweet_id                         0
in_reply_to_status_id         2278
in_reply_to_user_id           2278
timestamp                        0
source                           0
text                             0
retweeted_status_id           2175
retweeted_status_user_id      2175
retweeted_status_timestamp    2175
expanded_urls                   59
rating_numerator                 0
rating_denominator               0
name                             0
doggo                            0
floofer                          0
pupper                           0
puppo                            0
dtype: int64

* There are too much null values in many columns (compared to the total number of samples we have) : `in_reply_to_status_id, in_reply_to_user_id, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp`.         
* `expanded_urls` also have some null values.

* The non-null value in the `retweeted_XXX` columns are marking that we we have retweet sample (we will further investivate this)

In [17]:
# Checking NaN (not a number) values in twitter_archive_df
twitter_archive_df.isna().sum()

tweet_id                         0
in_reply_to_status_id         2278
in_reply_to_user_id           2278
timestamp                        0
source                           0
text                             0
retweeted_status_id           2175
retweeted_status_user_id      2175
retweeted_status_timestamp    2175
expanded_urls                   59
rating_numerator                 0
rating_denominator               0
name                             0
doggo                            0
floofer                          0
pupper                           0
puppo                            0
dtype: int64

The results for NaN check are the same as the results from null check, so there is nothing suspicious to investigate.

In [18]:
# Taking a look at the retweeted samples
twitter_archive_df[ ~ twitter_archive_df["retweeted_status_id"].isnull() ].T

,19,32,36,68,73,74,78,91,95,97,...,926,937,943,949,1012,1023,1043,1242,2259,2260
tweet_id,888202515573088257,886054160059072513,885311592912609280,879130579576475649,878404777348136964,878316110768087041,877611172832227328,874434818259525634,873697596434513921,873337748698140672,...,754874841593970688,753298634498793472,752701944171524096,752309394570878976,747242308580548608,746521445350707200,743835915802583040,711998809858043904,667550904950915073,667550882905632768
in_reply_to_status_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
in_reply_to_user_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
timestamp,2017-07-21 01:02:36 +0000,2017-07-15 02:45:48 +0000,2017-07-13 01:35:06 +0000,2017-06-26 00:13:58 +0000,2017-06-24 00:09:53 +0000,2017-06-23 18:17:33 +0000,2017-06-21 19:36:23 +0000,2017-06-13 01:14:41 +0000,2017-06-11 00:25:14 +0000,2017-06-10 00:35:19 +0000,...,2016-07-18 03:06:01 +0000,2016-07-13 18:42:44 +0000,2016-07-12 03:11:42 +0000,2016-07-11 01:11:51 +0000,2016-06-27 01:37:04 +0000,2016-06-25 01:52:36 +0000,2016-06-17 16:01:16 +0000,2016-03-21 19:31:59 +0000,2015-11-20 03:51:52 +0000,2015-11-20 03:51:47 +0000
source,"<a href=""http://twitter.com/download/iphone"" r...","<a href=""http://twitter.com/download/iphone"" r...","<a href=""http://twitter.com/download/iphone"" r...","<a href=""http://twitter.com/download/iphone"" r...","<a href=""http://twitter.com/download/iphone"" r...","<a href=""http://twitter.com/download/iphone"" r...","<a href=""http://twitter.com/download/iphone"" r...","<a href=""http://twitter.com/download/iphone"" r...","<a href=""http://twitter.com/download/iphone"" r...","<a href=""http://twitter.com/download/iphone"" r...",...,"<a href=""http://twitter.com/download/iphone"" r...","<a href=""http://twitter.com/download/iphone"" r...","<a href=""http://twitter.com/download/iphone"" r...","<a href=""http://twitter.com/download/iphone"" r...","<a href=""http://twitter.com/download/iphone"" r...","<a href=""http://twitter.com/download/iphone"" r...","<a href=""http://twitter.com/download/iphone"" r...","<a href=""http://twitter.com/download/iphone"" r...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...","<a href=""http://twitter.com"" rel=""nofollow"">Tw..."
text,RT @dog_rates: This is Canela. She attempted s...,RT @Athletics: 12/10 #BATP https://t.co/WxwJmv...,RT @dog_rates: This is Lilly. She just paralle...,RT @dog_rates: This is Emmy. She was adopted t...,RT @dog_rates: Meet Shadow. In an attempt to r...,RT @dog_rates: Meet Terrance. He's being yelle...,RT @rachel2195: @dog_rates the boyfriend and h...,RT @dog_rates: This is Coco. At first I though...,RT @dog_rates: This is Walter. He won't start ...,RT @dog_rates: This is Sierra. She's one preci...,...,RT @dog_rates: This is Rubio. He has too much ...,RT @dog_rates: This is Carly. She's actually 2...,RT @dog_rates: HEY PUP WHAT'S THE PART OF THE ...,RT @dog_rates: Everyone needs to watch this. 1...,RT @dog_rates: This pupper killed this great w...,RT @dog_rates: This is Shaggy. He knows exactl...,RT @dog_rates: Extremely intelligent dog here....,RT @twitter: @dog_rates Awesome Tweet! 12/10. ...,RT @dogratingrating: Exceptional talent. Origi...,RT @dogratingrating: Unoriginal idea. Blatant ...
retweeted_status_id,887473957103951872.0,886053734421102592.0,830583320585068544.0,878057613040115712.0,878281511006478336.0,669000397445533696.0,876850772322988032.0,866334964761202688.0,868880397819494400.0,873213775632977920.0,...,679158373988876288.0,681523177663676416.0,683515932363329536.0,675354435921575936.0,704761120771465216.0,667866724293877760.0,667138269671505920.0,711998279773347840.0,667548695664070656.0,667548415174144000.0
retweeted_status_user_id,4196983835.0,19607400.0,4196983835.0,4196983835.0,4196983835.0,4196983835.0,512804507.0,4196983835.0,4196983835.0,4196983835.0,...,4196983835.0,4196983835.0,4196983835.0,4196983835.0,4196983835.0,4196983835.0,4196983835.0,783214.0,4296831739.0,4296831739.0
retweeted_status_timestamp,2017-07-19 00:47:34 +0000,2017-07-15 02:44:07 +0000,2017-02-12 01:04:29 +0000,2017-06-23 01:10:23 +0000,2017-06-23 16:00:04 +0000,2015-11-24 03:51:38 +0000,2017-06-19 17:14:49 +0000,2017-05-21 16:48:45 +0000,2017-05-28 17:23:24 +0000,2017-06-09 16:22:42 +0000,...,2015-12-22 04:35:49 +0000,2015-12-28 17:12:42 +0000,2016-01-03 05:11:12 +0000,2015-12-11 16:40:19 +0000,2016-03-01 20:11:59 +0000,2015-11-21 00:46:50 +0000,2015-11-19 00:32:12 +0000,2016-03-21 19:29:52 +0000,2015-11-20 03:43:06 +0000,2015-11-20 03:41:59 +0000
expanded_urls,https://twitter.com/dog_rates/status/887473957...,https://twitter.com/dog_rates/status/886053434...,https://twitter.com/dog_rates/status/830583320...,https://twitter.com/dog_rates/status/878057613...,"https://www.gofundme.com/3yd6y1c,https://twitt...",https://twitter.com/dog_rates/status/669000397...,https://twitter.com/rachel2195/status/87685077...,https://twitter.com/dog_rates/status/866334964...,https://twitter.com/dog_rates/status/868880397...,https://www.gofundme.com/help-my-baby-sierra-g...,...,https://twitter.com/dog_rates/status/679158373...,https://twitter.com/dog_rates/status/681523177...,"https://vine.co/v/ibvnzrauFuV,https://vine.co/...",https://twitter.com/dog_rates/status/675354435...,https://twitter.com/dog_rates/status/704761120...,https://twitter.com/dog_rates/status/667866724...,https://twitter.com/dog_rates/status/667138269...,https://twitter.com/twitter/status/71199827977...,https://twitter.com/dogratingrating/status/667...,https://twitter.com/dogratingrating/status/667...
rating_numerator,13,12,13,14,13,11,14,12,14,12,...,11,12,11,13,13,10,10,12,12,5
rating_denominator,10,10,10,10,10,10,10,10,10,10,...,10,10,10,10,10,10,10,10,10,10
name,Canela,None,Lilly,Emmy,Shadow,Terrance,None,Coco,Walter,Sierra,...,Rubio,Carly,None,None,None,Shaggy,None,None,None,None
doggo,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
floofer,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
pupper,None,None,None,None,None,None,pupper,None,None,pupper,...,None,None,None,None,pupper,None,None,None,None,None
puppo,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

Those retweeted samples should not be present in our dataset, as per the projec instruction.

In [19]:
# Taking a look at the samples which have value in expanded_urls column
twitter_archive_df[ ~ twitter_archive_df["expanded_urls"].isnull() ].T

,0,1,2,3,4,5,6,7,8,9,...,2346,2347,2348,2349,2350,2351,2352,2353,2354,2355
tweet_id,892420643555336193,892177421306343426,891815181378084864,891689557279858688,891327558926688256,891087950875897856,890971913173991426,890729181411237888,890609185150312448,890240255349198849,...,666058600524156928,666057090499244032,666055525042405380,666051853826850816,666050758794694657,666049248165822465,666044226329800704,666033412701032449,666029285002620928,666020888022790149
in_reply_to_status_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
in_reply_to_user_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
timestamp,2017-08-01 16:23:56 +0000,2017-08-01 00:17:27 +0000,2017-07-31 00:18:03 +0000,2017-07-30 15:58:51 +0000,2017-07-29 16:00:24 +0000,2017-07-29 00:08:17 +0000,2017-07-28 16:27:12 +0000,2017-07-28 00:22:40 +0000,2017-07-27 16:25:51 +0000,2017-07-26 15:59:51 +0000,...,2015-11-16 01:01:59 +0000,2015-11-16 00:55:59 +0000,2015-11-16 00:49:46 +0000,2015-11-16 00:35:11 +0000,2015-11-16 00:30:50 +0000,2015-11-16 00:24:50 +0000,2015-11-16 00:04:52 +0000,2015-11-15 23:21:54 +0000,2015-11-15 23:05:30 +0000,2015-11-15 22:32:08 +0000
source,"<a href=""http://twitter.com/download/iphone"" r...","<a href=""http://twitter.com/download/iphone"" r...","<a href=""http://twitter.com/download/iphone"" r...","<a href=""http://twitter.com/download/iphone"" r...","<a href=""http://twitter.com/download/iphone"" r...","<a href=""http://twitter.com/download/iphone"" r...","<a href=""http://twitter.com/download/iphone"" r...","<a href=""http://twitter.com/download/iphone"" r...","<a href=""http://twitter.com/download/iphone"" r...","<a href=""http://twitter.com/download/iphone"" r...",...,"<a href=""http://twitter.com/download/iphone"" r...","<a href=""http://twitter.com/download/iphone"" r...","<a href=""http://twitter.com/download/iphone"" r...","<a href=""http://twitter.com/download/iphone"" r...","<a href=""http://twitter.com/download/iphone"" r...","<a href=""http://twitter.com/download/iphone"" r...","<a href=""http://twitter.com/download/iphone"" r...","<a href=""http://twitter.com/download/iphone"" r...","<a href=""http://twitter.com/download/iphone"" r...","<a href=""http://twitter.com/download/iphone"" r..."
text,This is Phineas. He's a mystical boy. Only eve...,This is Tilly. She's just checking pup on you....,This is Archie. He is a rare Norwegian Pouncin...,This is Darla. She commenced a snooze mid meal...,This is Franklin. He would like you to stop ca...,Here we have a majestic great white breaching ...,Meet Jax. He enjoys ice cream so much he gets ...,When you watch your owner call another dog a g...,This is Zoey. She doesn't want to be one of th...,This is Cassie. She is a college pup. Studying...,...,Here is the Rand Paul of retrievers folks! He'...,My oh my. This is a rare blond Canadian terrie...,Here is a Siberian heavily armored polar bear ...,This is an odd dog. Hard on the outside but lo...,This is a truly beautiful English Wilson Staff...,Here we have a 1949 1st generation vulpix. Enj...,This is a purebred Piers Morgan. Loves to Netf...,Here is a very happy pup. Big fan of well-main...,This is a western brown Mitsubishi terrier. Up...,Here we have a Japanese Irish Setter. Lost eye...
retweeted_status_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
retweeted_status_user_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
retweeted_status_timestamp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
expanded_urls,https://twitter.com/dog_rates/status/892420643...,https://twitter.com/dog_rates/status/892177421...,https://twitter.com/dog_rates/status/891815181...,https://twitter.com/dog_rates/status/891689557...,https://twitter.com/dog_rates/status/891327558...,https://twitter.com/dog_rates/status/891087950...,"https://gofundme.com/ydvmve-surgery-for-jax,ht...",https://twitter.com/dog_rates/status/890729181...,https://twitter.com/dog_rates/status/890609185...,https://twitter.com/dog_rates/status/890240255...,...,https://twitter.com/dog_rates/status/666058600...,https://twitter.com/dog_rates/status/666057090...,https://twitter.com/dog_rates/status/666055525...,https://twitter.com/dog_rates/status/666051853...,https://twitter.com/dog_rates/status/666050758...,https://twitter.com/dog_rates/status/666049248...,https://twitter.com/dog_rates/status/666044226...,https://twitter.com/dog_rates/status/666033412...,https://twitter.com/dog_rates/status/666029285...,https://twitter.com/dog_rates/status/666020888...
rating_numerator,13,13,12,13,12,13,13,13,13,14,...,8,9,10,2,10,5,6,9,7,8
rating_denominator,10,10,10,10,10,10,10,10,10,10,...,10,10,10,10,10,10,10,10,10,10
name,Phineas,Tilly,Archie,Darla,Franklin,None,Jax,None,Zoey,Cassie,...,the,a,a,an,a,None,a,a,a,None
doggo,None,None,None,None,None,None,None,None,None,doggo,...,None,None,None,None,None,None,None,None,None,None
floofer,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
pupper,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
puppo,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [20]:
# Assessing the content of twitter_archive_df["source"]
twitter_archive_df["source"].unique()

array(['<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
       '<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>',
       '<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>',
       '<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>'],
      dtype=object)

In [21]:
# Looking at the content of tweets_df
tweets_df.head(3).T

,0,1,2
created_at,Tue Aug 01 16:23:56 +0000 2017,Tue Aug 01 00:17:27 +0000 2017,Mon Jul 31 00:18:03 +0000 2017
id,892420643555336193,892177421306343426,891815181378084864
id_str,892420643555336193,892177421306343426,891815181378084864
full_text,This is Phineas. He's a mystical boy. Only eve...,This is Tilly. She's just checking pup on you....,This is Archie. He is a rare Norwegian Pouncin...
truncated,False,False,False
display_text_range,"[0, 85]","[0, 138]","[0, 121]"
entities,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'hashtags': [], 'symbols': [], 'user_mentions...","{'hashtags': [], 'symbols': [], 'user_mentions..."
extended_entities,"{'media': [{'id': 892420639486877696, 'id_str'...","{'media': [{'id': 892177413194625024, 'id_str'...","{'media': [{'id': 891815175371796480, 'id_str'..."
source,"<a href=""http://twitter.com/download/iphone"" r...","<a href=""http://twitter.com/download/iphone"" r...","<a href=""http://twitter.com/download/iphone"" r..."
in_reply_to_status_id,NaN,NaN,NaN
in_reply_to_status_id_str,None,None,None
in_reply_to_user_id,NaN,NaN,NaN
in_reply_to_user_id_str,None,None,None
in_reply_to_screen_name,None,None,None
user,"{'id': 4196983835, 'id_str': '4196983835', 'na...","{'id': 4196983835, 'id_str': '4196983835', 'na...","{'id': 4196983835, 'id_str': '4196983835', 'na..."
geo,None,None,None
coordinates,None,None,None
place,None,None,None
contributors,None,None,None
is_quote_status,False,False,False
retweet_count,8853,6514,4328
favorite_count,39467,33819,25461
favorited,False,False,False
retweeted,False,False,False
possibly_sensitive,False,False,False
possibly_sensitive_appealable,False,False,False
lang,en,en,en
retweeted_status,NaN,NaN,NaN
quoted_status_id,NaN,NaN,NaN
quoted_status_id_str,NaN,NaN,NaN
quoted_status,NaN,NaN,NaN

In [22]:
# Looking at the structure of tweets_df
tweets_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 31 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   created_at                     2354 non-null   object
 1   id                             2354 non-null   int64
 2   id_str                         2354 non-null   object
 3   full_text                      2354 non-null   object
 4   truncated                      2354 non-null   bool
 5   display_text_range             2354 non-null   object
 6   entities                       2354 non-null   object
 7   extended_entities              2073 non-null   object
 8   source                         2354 non-null   object
 9   in_reply_to_status_id          78 non-null     float64
 10  in_reply_to_status_id_str      78 non-null     object
 11  in_reply_to_user_id            78 non-null     float64
 12  in_reply_to_user_id_str        78 non-null     object
 13  in_reply_to_screen_name        78 non-null     object
 14  user                           2354 non-null   object
 15  geo                            0 non-null      object
 16  coordinates                    0 non-null      object
 17  place                          1 non-null      object
 18  contributors                   0 non-null      object
 19  is_quote_status                2354 non-null   bool
 20  retweet_count                  2354 non-null   int64
 21  favorite_count                 2354 non-null   int64
 22  favorited                      2354 non-null   bool
 23  retweeted                      2354 non-null   bool
 24  possibly_sensitive             2211 non-null   object
 25  possibly_sensitive_appealable  2211 non-null   object
 26  lang                           2354 non-null   object
 27  retweeted_status               179 non-null    object
 28  quoted_status_id               29 non-null     float64
 29  quoted_status_id_str           29 non-null     object
 30  quoted_status                  28 non-null     object
dtypes: bool(4), float64(3), int64(3), object(21)
memory usage: 505.9+ KB

In [23]:
# Looking at the content of image_predictions_df
image_predictions_df.tail(3).T

,2072,2073,2074
tweet_id,891815181378084864,892177421306343426,892420643555336193
jpg_url,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg
img_num,1,1,1
p1,Chihuahua,Chihuahua,orange
p1_conf,0.716012,0.323581,0.097049
p1_dog,True,True,False
p2,malamute,Pekinese,bagel
p2_conf,0.078253,0.090647,0.085851
p2_dog,True,True,False
p3,kelpie,papillon,banana
p3_conf,0.031379,0.068957,0.07611
p3_dog,True,True,False

In [24]:
# Observing the structure of image_predictions_df
image_predictions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [25]:
# sum(tweets_df.duplicated())

**Checking if there are dogs with multiple stages**                      
Since the "stages name as column" issue will be dealt with by pandas.melt(), it is good to make sure if there are dogs with more than one stage (in order to be aware of duplicate tweet id).

In [26]:
"""
TODO : 
 - create a new column named nb_stage, which will contain the number of stages associated with a dog
 - loop through each sample in the df, in order to count the number of its stage
 - retrieve and assess sample with nb_stage>1 
"""

'\nTODO : \n - create a new column named stage_count, which will contain the number of stages associated with a dog\n - loop through each sample in the df, in order to count the number of its stage\n - retrieve and assess sample with stage_count>1 \n'

In [31]:
twitter_archive_df["nb_stage"] = 0
twitter_archive_df["nb_stage"].unique()

array([0], dtype=int64)

In [32]:
twitter_archive_df.head(3).T

,0,1,2
tweet_id,892420643555336193,892177421306343426,891815181378084864
in_reply_to_status_id,NaN,NaN,NaN
in_reply_to_user_id,NaN,NaN,NaN
timestamp,2017-08-01 16:23:56 +0000,2017-08-01 00:17:27 +0000,2017-07-31 00:18:03 +0000
source,"<a href=""http://twitter.com/download/iphone"" r...","<a href=""http://twitter.com/download/iphone"" r...","<a href=""http://twitter.com/download/iphone"" r..."
text,This is Phineas. He's a mystical boy. Only eve...,This is Tilly. She's just checking pup on you....,This is Archie. He is a rare Norwegian Pouncin...
retweeted_status_id,NaN,NaN,NaN
retweeted_status_user_id,NaN,NaN,NaN
retweeted_status_timestamp,NaN,NaN,NaN
expanded_urls,https://twitter.com/dog_rates/status/892420643...,https://twitter.com/dog_rates/status/892177421...,https://twitter.com/dog_rates/status/891815181...
rating_numerator,13,13,12
rating_denominator,10,10,10
name,Phineas,Tilly,Archie
doggo,None,None,None
floofer,None,None,None
pupper,None,None,None
puppo,None,None,None
nb_stage,0,0,0

In [37]:
# Counting the number of stage associated with each dog
stage_cols = ["doggo","floofer","pupper","puppo"]

for index,row in twitter_archive_df.iterrows(): 
    nb_stage=0
    for col in stage_cols:
        if row[col]!= "None":
            nb_stage+=1
    twitter_archive_df.loc[index,"nb_stage"] = nb_stage

twitter_archive_df["nb_stage"].unique()

array([0, 1, 2], dtype=int64)

We can see that some dogs are associated with more than one stage, which we should investigate.

In [40]:
tweets_with_many_stages = twitter_archive_df[ twitter_archive_df["nb_stage"]>1 ]
tweets_with_many_stages.shape

(14, 18)

In [27]:
///////////

SyntaxError: invalid syntax (<ipython-input-27-6386f29f65b9>, line 1)

### Tidiness issues
1. `twitter_archive_df` and `tweets_df` should form one dataframe instead being two different dataframes.

1. `twitter_archive_df` has values as columns for the stage of the dog.

1. `twitter_archive_df` has useless columns for our purpose, such as status_id, status_user_id, status_timestamp, ...

1. `tweets_df.user` should contains the id of another dataframe named `user`.

1. `twitter_archive_df` and `image_predictions_df` should form one dataframe instead being two different dataframes.

### Quality issues 
1. `twitter_archive_df['source']` has tag `a` as value instead of the value of `href` attribute

1. Wrong datatypes in `twitter_archive_df` in the following columns : `timestamp`

1. `twitter_archive_df` has retweet samples, which are useless for our purpose (according to the project instructions)

1. Null values in the following columns of `twitter_archive_df` : `in_reply_to_status_id, in_reply_to_user_id, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls`.

1. Useless columns in `tweet_df`

1. `tweets_df.created` has value beyond August 1st, 2017, which mean those sample will not have corresponding value in image_predictions_df

1. Some samples in `image_predictions_df` are not dog

1. In columns `p1`, `p2`, and `p3` of `image_predictions_df`, some values are capitalized while others are not

1. In `image_predictions_df`, only the most confident prediction is relevant

## Cleaning Data
In this section, I will clean all of the issues I documented while assessing.

Made copies of original image_predictions_df. It is useless to make copy of the others dataframe since they will be merged.

In [ ]:
# Make copies of original image_predictions_df

#tweets_clean = tweets_df.copy()
#twitter_archive_clean = twitter_archive_df.copy()
image_predictions_clean = image_predictions_df.copy()

### Issue #5 (quality) : Useless columns in `tweets_df`

In [ ]:
tweets_df.head(2).T

#### Define
In `tweets_df`, only keep `"id","retweet_count","favorite_count","user","retweeted"` as useful columns

#### Code

In [ ]:
# Keep useful columns while discarding the others, as per the project instructions
tweets_df = tweets_df[ ["id","retweet_count","favorite_count","user","retweeted"] ]

#### Test

In [ ]:
tweets_df.head(3)

### Issue #1 (tidiness): `twitter_archive_df` and `tweets_df` should form one dataframe instead being two different dataframes.

In [ ]:
twitter_archive_df.head(2).T

In [ ]:
twitter_archive_df.shape

In [ ]:
tweets_df.head()

In [ ]:
tweets_df.shape

#### Define
Merge `twitter_archive_df` and `tweets_df` in one dataframe

#### Code

In [ ]:
# All columns in the two datasets
# all_columns = pd.Series(list(twitter_archive_clean) + list(tweets_clean) )
# all_columns

In [ ]:
# Find duplicated columns
# duplicated_columns = all_columns[all_columns.duplicated()]
# duplicated_columns

In [ ]:
# Drop duplicated columns from tweets_clean
# tweets_clean.drop(duplicated_columns, axis=1, inplace=True)
# tweets_clean.head(2).T

In [ ]:
# tweets_clean.shape

In [ ]:
# Merging the two dataset

# https://stackoverflow.com/questions/43297589/merge-two-data-frames-based-on-common-column-values-in-pandas
twitter_df = twitter_archive_df.merge(tweets_df, how="inner",left_on="tweet_id", right_on="id")
twitter_df.shape

#### Test

In [ ]:
twitter_df.head(2).T

In [ ]:
# Making sure the merge worked fine
twitter_df.shape[1] == twitter_archive_df.shape[1] + tweets_df.shape[1]

In [ ]:
# Dropping redundant id column
twitter_df.drop(["id"],axis=1, inplace=True)
twitter_df.head(2).T

### Issue #2 (tidiness): `twitter_archive_df` has values as columns for the stage of the dog.          
Those columns are `doggo, floofer, pupper, puppo`

In [ ]:
twitter_df.head(3).T

#### Define
Melt the dog stage columns into a column which name will be `stage` and which value will be the stage of the dog or NaN depending on weither the stage is known or not.

#### Code

In [ ]:
id_vars = twitter_df.columns.tolist()
id_vars.remove("doggo")
id_vars.remove("floofer")
id_vars.remove("pupper")
id_vars.remove("puppo")
id_vars

In [ ]:
melted = pd.melt(twitter_df, id_vars=id_vars, var_name="stage", value_name="stage_value")
melted.head(3).T

Looking at our dataframe, we don't need the `stage_value` column, so will drop it in a while after performing some tidiness cleaning.

In [ ]:
melted.shape

In [ ]:
# twitter_df.shape

**Analyzing the content of `melted` based on weither the stage of the dog is known or not**

In [ ]:
# Visual assessement of the tweet which id is 892420643555336193 (this tweet dog stage is unknow)
melted[ melted["tweet_id"]==892420643555336193 ].T

We have 04 entries for the same tweet_id, each corresponding to one of the 04 melted columns.

Let's separate `melted` in two different dataframes for a better observation

In [ ]:
# Retrieve the tweets with known dog stage
tweets_with_stage_df = melted[ melted["stage_value"] !="None" ]
tweets_with_stage_df.head(3).T

In [ ]:
# Visual assessement of a tweet with known dog stage
tweets_with_stage_df[ tweets_with_stage_df["tweet_id"]==890240255349198849 ].T

We can confirm that there is only one entry for the tweets when dog stage is known.

In [ ]:
# Retrieve the tweets with unknown dog stage
tweets_without_stage_df = melted[ melted["stage_value"] =="None" ]
tweets_without_stage_df.head(3).T

In [ ]:
# Visual assessement of a tweet with unknown dog stage
tweets_without_stage_df[ tweets_without_stage_df["tweet_id"]==892420643555336193 ].T

We can observe that there is 04 entries (same number as the number of columns melted) for the tweets when dog stage is unknown.

Now we will :
* replace the values in `tweets_without_stage_df["stage"]` by "others"
* concatenate `tweets_without_stage_df` to `tweets_with_stage_df`

In [ ]:
# Giving a value to stage column in tweets_without_stage_df (NaN wasn't used in order to have these values ploted on chart)
tweets_without_stage_df["stage"] =  "others" # np.nan
tweets_without_stage_df.head(2).T

In [ ]:
tweets_without_stage_df.shape

In [ ]:
# Drop duplicate value by tweet_id in tweets_without_stage_df
tweets_without_stage_df.drop_duplicates(subset="tweet_id",inplace=True)
tweets_without_stage_df.shape

In [ ]:
# Concat tweets_without_stage_df and tweets_with_stage_df, in order to form a whole again
twitter_clean = pd.concat([tweets_with_stage_df,tweets_without_stage_df], axis=0, ignore_index=True)

# Shuffling the dataframe in order to eliminate an eventual bias
"""Reference : https://datagy.io/pandas-shuffle-dataframe/ """
random_state_seed = 5 # set seed for reproducibility
twitter_clean = twitter_clean.sample(frac=1, random_state=random_state_seed).reset_index()


twitter_clean.head(3).T

Looking at our dataframe, we don't need the `stage_value` column anymore, so we will drop it. We will also drop `index` column, because it is the original index of the samples before they were shuffled.

In [ ]:
twitter_df = twitter_clean.drop(["stage_value","index"],axis=1)
twitter_df.head(3).T

In [ ]:
# the user column is (temporarly) removed from the duplicate checking in order to avoid "unhashable type: 'dict'" error
#   when using dataframe.duplicated()
twitter_df.drop(["user"],axis=1).duplicated().sum()

In [ ]:
# double-check the previous duplicate value search, by narowing down the search to the tweet_id
twitter_df["tweet_id"].duplicated().sum()

There are many duplicated tweet id. I will investigate the issue.

In [ ]:
duplicated_tweets_df = twitter_df[twitter_df["tweet_id"].duplicated() ]
duplicated_tweets_df.shape

In [ ]:
duplicated_tweets_df.head(3).T

In [ ]:
////////////////////

#### Test

In [ ]:
# Checking the occurences in twitter_df["stage"]
twitter_df["stage"].unique()

In [ ]:
# Checking the repartition of the dog per their stage
twitter_df["stage"].value_counts()

In [ ]:
# Checking for duplicate 

# the user column is (temporarly) removed from the duplicate checking in order to avoid "unhashable type: 'dict'" error
#   when using dataframe.duplicated()
twitter_df.drop(["user"],axis=1).duplicated().sum()


<!-- Now we will check the number of column in each of our twitter dataset (the original, and the new) -->

### Issue #3 (tidiness): `twitter_archive_df` has useless columns for our purpose          
Those columns are `status_id, status_user_id, status_timestamp`.   

Our cleaning is to be performed in `twitter_df`

In [ ]:
# Recalling the content of our df
twitter_df.head(2).T

#### Define

Remove columns deemed useless for our purpose from `twitter_df` : `in_reply_to_status_id, in_reply_to_user_id, expanded_urls`.

#### Code

In [ ]:
useless_columns = ["in_reply_to_status_id","in_reply_to_user_id","expanded_urls"]
twitter_df.drop(useless_columns, axis=1, inplace=True)

#### Test

In [ ]:
# Making sure the dropped columns no longer exist
twitter_df.head(2).T

### Issue #4 (tidiness): `tweets_df.user` should contains the id of another dataframe named `user`

The cleaning it to be performed in `twitter_df`

In [ ]:
twitter_df.head(3).T

#### Define
* Extract values from `twitter_df["user"]`, and use them to populate a new `user_df` dataframe
* Replace each value from `twitter_df["user"]` by the user_id
* Remove duplicated samples from `user_df`

#### Code

In [ ]:
# Retrieve users data from twitter_df["user"]
user_list = twitter_df["user"].values.tolist()
user_list[1]

In [ ]:
# Create user dataframe
user_df = pd.DataFrame(user_list)
user_df.head(2).T

In [ ]:
user_df.drop(["entities"],axis=1,inplace=True)

In [ ]:
user_df.shape

In [ ]:
user_df.drop_duplicates(inplace=True)

In [ ]:
user_df.shape

In [ ]:
user_df["id"].unique()

We are noticing that all entries in `user_df` are about one user. This should be related to the fact it is additionnal data describing the state, and not the attributes, of the users which were stored in `twitter_df["user"]`; this can be explained by how NoSQL databases are usually designed.      
Given the situation, `user_df` is of no more use to use, so we will discard it.                
Given the situation `twitter_df["user"]` should contain data related to only one user_id. We cannot help but wondering if it is useful to us as a column, and if user mean a person or something like a terminal/source ip.

In [ ]:
twitter_df.head(2).T

In [ ]:
# Forming a new column containing the user_id
twitter_df["user_id"] = twitter_df["user"].apply(lambda x: x["id"])
twitter_df.sample(10).T

In [ ]:
# Confirming that we have the same user_id in our dataframe
twitter_df["user_id"].unique()

Since we have the same user_id in `twitter_df["user_id"]`, this column is no more useful in our analysis. We will drop it.

In [ ]:
# def extract_keysvalue_from_json(json_data:dict, dict_key:str):
#     """
#         Retrieve the value of a given key from a json data
        
#         @param json_data:str : the json from which to extract the given key's value
#         @param dict_key:str : the key which value we wish to extract from the dictionnary 
#     """
#     return json_data[dict_key] #json.loads(json_data)[dict_key]

In [ ]:
# Drop user columns, since their content make them useless
twitter_df.drop(["user","user_id"],axis=1,inplace=True)

#### Test

In [ ]:
twitter_df.head(2).T

### Issue #1 (quality issue) : `twitter_archive_df['source']` has tag `a` as value instead of the value of `href` attribute

The cleaning is to be performed in `twitter_df`

#### Define
Extract href value from `twitter_df["source"]` occurences, and use it to replace tag `a`

#### Code

In [ ]:
# Recalling the content of our dataset
twitter_df.head(2).T

In [ ]:
twitter_df["source"][0]

In [ ]:
twitter_df.loc[1,"source"]

In [ ]:
twitter_df["source"].unique()

In [ ]:
# Clean source column
twitter_df["source"] = twitter_df["source"].apply(extract_urls_from_str)
twitter_df.head(2).T

#### Test

In [ ]:
# Checking that the values of twitter_archive_clean["source"] are links (and no more tags)
twitter_df["source"].unique()

### Issue #2 (quality issue): Wrong datatypes in `twitter_archive_df["timestamp"]`            
The datatypes in `twitter_archive_df["timestamp"]` should be datetime, not object(string).

This cleaning is to be performed in `twitter_df`.

In [ ]:
# Recalling the structure of twitter_df
twitter_df.info()

#### Define    
Convert `twitter_df["timestamp"]` to datetime.

#### Code

In [ ]:
twitter_df["timestamp"] = pd.to_datetime(twitter_df["timestamp"])

#### Test

In [ ]:
# Confirming that timestamp column was converted to datetime
twitter_df.info()

### Issue #3 (quality issue): `twitter_archive_df` has retweet samples

Those sample are useless for our purpose (according to the project instructions).                 
The cleaning is to be performed in `twitter_df`

In [ ]:
# Taking a look at the retweeted samples
retweeted_mask = ~ twitter_df["retweeted_status_id"].isnull()
twitter_df[ retweeted_mask ].head(2).T

#### Define
* Retrieve retweeted samples in a `retweeted_df` dataframe
* Drop from `twitter_df` indexes of the samples coming from `retweeted_df`

In [ ]:
retweeted_df = twitter_df[ retweeted_mask ]
retweeted_df.head(5).T

In [ ]:
retweeted_indexes = retweeted_df.index
retweeted_indexes

In [ ]:
twitter_df.shape

In [ ]:
# Drop samples which are retweets
twitter_df.drop(retweeted_indexes, axis=0,inplace=True)

In [ ]:
twitter_df.shape

We also have a `retweeted` column, which is no more useful.

In [ ]:
twitter_df["retweeted"].unique()

We will drop `retweeted` column, because it become useless since we know that we don't have any retweeted sample.

In [ ]:
twitter_df.drop(["retweeted"], axis=1,inplace=True)

In [ ]:
twitter_df.shape

#### Test

In [ ]:
# Making sure there is no more retweet samples
twitter_df[ retweeted_mask ]

### Issue #4 (quality issue): Null values in many columns in `twitter_archive_df`    

Null values in the `retweeted_XXXX` columns following columns of `twitter_archive_df`

The cleaning is to be performed in `twitter_df`.

In [ ]:
# Recalling the structure of twitter_archive_clean
twitter_df.info()

#### Define
Drop the `retweeted_XXXX` columns

#### Code

In [ ]:
useless_columns=["retweeted_status_id","retweeted_status_user_id","retweeted_status_timestamp"]
twitter_df.drop(useless_columns, axis=1, inplace=True)

#### Test

In [ ]:
twitter_df.info()

### Issue #6 (quality issue): Date beyond August 1st, 2017, in `tweets_df`    

We will drop the samples with those dates, based on the project specification.


The cleaning is to be performed in `twitter_df`.

In [ ]:
twitter_df.info()

In [ ]:
# Observing the samples beyond August 1st, 2017
beyond_date_mask = twitter_df["timestamp"] >= "2017-08-01"
useless_tweets = twitter_df[ beyond_date_mask ]
useless_tweets.shape

In [ ]:
useless_tweets.T

#### Define

Drop the samples beyond August 1st, 2017

#### Code

In [ ]:
useless_tweets.index

In [ ]:
twitter_df.shape

In [ ]:
twitter_df.drop(useless_tweets.index, axis=0,inplace=True)
twitter_df.shape

#### Test

In [ ]:
twitter_df[ beyond_date_mask ]

### Issue #7 (quality issue) : Some samples in `image_predictions_df` are not dog

In [ ]:
image_predictions_clean.head(2).T

In [ ]:
image_predictions_clean.info()

In [ ]:
image_predictions_clean["p1_dog"].unique()

#### Define
Only keep samples which has True as value in `p1_dog` (the prediction with the highest confidence)

#### Code

In [ ]:
image_predictions_clean.shape

In [ ]:
image_predictions_clean = image_predictions_clean[ image_predictions_clean["p1_dog"]==True ]
image_predictions_clean.shape

#### Test

We will make sure that all predictions are True, in `p1_dog`

In [ ]:
image_predictions_clean["p1_dog"].unique()

### Issue #8 (quality issue) : Some values are capitalized while others are not in columns `p1`, `p2`, and `p3` of `image_predictions_df`

In [ ]:
image_predictions_clean.head().T

#### Define

Capitalize the first letter of each value in `p1`, `p2` and `p3`.

In [ ]:
image_predictions_clean["p1"] = image_predictions_clean["p1"].str.capitalize()
image_predictions_clean["p2"] = image_predictions_clean["p2"].str.capitalize()
image_predictions_clean["p3"] = image_predictions_clean["p3"].str.capitalize()

#### Test

In [ ]:
image_predictions_clean.head().T

### Issue #9 (quality) : only the most confident prediction is relevant in `image_predictions_df`

#### Define
* In `image_predictions_df`, only keep the following columns : `tweet_id, jpg_url, img_num, p1`
* Rename `p1` to `breed`

#### Code

In [ ]:
image_predictions_clean = image_predictions_clean[ ["tweet_id","jpg_url","img_num","p1"] ]

image_predictions_clean.rename(columns={
    "p1":"breed"
},inplace=True)

#### Test

In [ ]:
image_predictions_clean.head()

### Issue #5 (tidiness) : `twitter_archive_df` and `image_predictions_df` should form one dataframe instead being two different dataframes

#### Define
Merge `twitter_df` to `image_predictions_df`

#### Code

In [ ]:
twitter_df.shape

In [ ]:
image_predictions_clean.shape

In [ ]:
# https://stackoverflow.com/questions/43297589/merge-two-data-frames-based-on-common-column-values-in-pandas

tweets_master_df = twitter_df.merge(image_predictions_clean, how="left", left_on="tweet_id", right_on="tweet_id")
tweets_master_df.shape

#### Test

In [ ]:
tweets_master_df.head(3).T

<a href="storing"> </a>

## Storing Data
Save gathered, assessed, and cleaned master dataset to a CSV file named "twitter_archive_master.csv".

In [ ]:
tweets_master_df.to_csv("twitter_archive_master.csv",index=False)
#image_predictions_clean.to_csv("image_predictions_master.csv")

<a href="eda"> </a>

## Analyzing and Visualizing Data

I am going to explore the dataset to gain some insights to understand how the dogs are usually rated in [WeRateDogs](https://en.wikipedia.org/wiki/WeRateDogs). In particular, I will be interested to know :

1. How does the popularity of WeRateDogs evolved over the years ?
1. If a particular dog's stage is more likely to raise higher level of interest ? 
1. If a particular dog's stage is more likely to be loved ?
1. If there is a relationship between the level of interest and the score ?
1. If the ratings are influenced by the posting period (morning, miday, evening, afternoon, ...) ?
1. If the number of images associated wih a post help increase its rating ?
1. If a particular dog's breed is more likely to be loved ?

### Getting an overview of our data

In [ ]:
# Taking a look at our dataframe
tweets_master_df.head(3).T

In [ ]:
tweets_master_df.info()

In [ ]:
# Making sure there is no duplicate tweet
tweets_master_df["tweet_id"].value_counts()

In [ ]:
# #### Feature engineering

# We will extract relevant features for our analysis below

### Exploratory Data Analysis

#### How does the popularity of WeRateDogs evolved over the years ?

We will explore how the post's count evolved over the years.

In [ ]:
# Extracting the year for each tweet

# Reference : https://www.interviewqs.com/ddi-code-snippets/extract-month-year-pandas

tweets_master_df["year"] = pd.DatetimeIndex(tweets_master_df["timestamp"]).year
tweets_master_df.sample(3).T

In [ ]:
# Taking a look at the years in our dataframe
tweets_master_df["year"].unique()

In [ ]:
# Counting the number of post per year
tweets_count_per_year = tweets_master_df["year"].value_counts().sort_index()
tweets_count_per_year

In [ ]:
tweets_count_per_year.plot(kind="bar",figsize=(8,6))

plt.xlabel("Tweet's years")
plt.ylabel("Tweet's count")
plt.title("Tweet's count per years");

Our dataset span over to little years to make a good observation about how the tweets evolved over the years, so we cannot know how the interest generated by [@dog_rates](https://twitter.com/dog_rates) account evolved over the year .      
But we can still observe that [@WeRateDogs](https://twitter.com/dog_rates) have a high increase of tweets in 2016 compared to 2015 and 2017. This can be explained by the viral tweet [they're good dogs Brent](http://knowyourmeme.com/memes/theyre-good-dogs-brent) which happen on September 2016.

#### Is a particular dog's stage more likely to raise higher level of interest ?

In order to have an answer for this question, we will explore the relationship between the dog's stages and the retweets count.


TODO : review this part : use mean instead of sum on  retweet_count to answer the question here

In [ ]:
# Number of retweets count per dog's stage
retweets_per_stage_count = tweets_master_df[ ["stage","retweet_count"] ].groupby("stage").sum() \
                                                                    .loc[:,"retweet_count"]  \
                                                                    .sort_values(ascending=False)
retweets_per_stage_count

In [ ]:
# Plot the number of retweets count per dog's stage
retweets_per_stage_count.plot(kind="bar", figsize=(8,6))

plt.xlabel("Dog's stages")
plt.ylabel("Retweets count")
plt.title("Retweets count per dog's stages");

Putting aside the dogs of unknow stage, we can observe that most of the dogs in the tweets are either pupper or doggo, while puppo and floofer are not represented as much as the first two stages.         
A pie chart will help us better observe the proportion of each stage in the tweets count. For a better observation, we will drop the results of unknow dog's stages.

In [ ]:
retweets_per_stage_count.drop("others").plot(kind="pie", 
                                             autopct='%1.1f%%',
                                             explode=[0.01, 0.01,0.01,0.01,],
                                             figsize=(8,8),
                                             legend=True
                                            )

plt.ylabel("Retweets count")
plt.title("Level of interested raised by each dog's stages");

The above chart let us easily confirm that majority of interest are raised either by doggo or pupper.

We will now analyze the proportion in order to confirm our finding, since our previous result may have be misleaded by the fact that there is more post on a specific dog's stage.

In [ ]:
# Retweets count's mean per dog's stage
retweets_per_stage = tweets_master_df[ ["stage","retweet_count"] ].groupby("stage").mean() \
                                                                    .loc[:,"retweet_count"]  \
                                                                    .sort_values(ascending=False)
retweets_per_stage

In [ ]:
retweets_per_stage.plot(kind="pie", 
                        autopct='%1.1f%%',
                        explode=[0.01, 0.01,0.01,0.01,0.01],
                        figsize=(8,8),
                        legend=True
                        )

plt.ylabel("Retweets count's mean")
plt.title("Level of interested raised by each dog's stages");

We can safely conclude that puppo and doggo raise a larger level of interest, followed by floofer.

#### Is a particular dog's stage most likely to be loved ?

We will explore the relationship between the dog's stages and the score.

In [ ]:
tweets_master_df.sample(3).T

In [ ]:
tweets_master_df["rating_denominator"].unique()

In [ ]:
tweets_master_df["rating_denominator"].value_counts()

We can observe that nearly all ratings denominator are 10.

In [ ]:
tweets_master_df["rating_numerator"].unique()

In [ ]:
tweets_master_df["rating_numerator"].value_counts()

Our quick search over the net to understand the meaning behing the dogs rating was unsuccessful. So we will not work on the meaning behind the numerator/denomitor, but on the basis of the rating value itself.

In [ ]:
tweets_master_df["rating"] = tweets_master_df["rating_numerator"] / tweets_master_df["rating_denominator"]
tweets_master_df.sample(3).T

Let's observe the rating we have in our dataset

In [ ]:
tweets_master_df["rating"].unique()

In [ ]:
tweets_master_df["rating"].value_counts()

We have `inf` as value in our rating, which mean some of our `rating_denomitor` is 0. We will drop those samples in order to not be stuck when we will do some analysis

In [ ]:
tweets_master_df["rating"].nunique()

In [ ]:
# Drop sample with 0 as value in rating_denomitor
tweets_master_df = tweets_master_df[ tweets_master_df["rating_denominator"]!=0 ]

In [ ]:
# Making sure we don't have inf value anymore
tweets_master_df["rating"].unique()

Now we will observe how the ratings are distributed based on the dog's stages.

In [ ]:
# Mean rating per dog's stage
mean_rating_per_stage = tweets_master_df.groupby("stage") \
                                         .mean() \
                                         .drop("others")  \
                                        .loc[:,"rating"]  \
                                       .sort_values(ascending=False)

mean_rating_per_stage

In [ ]:
# Plot the mean rating per dog's stage 
mean_rating_per_stage.plot(kind="bar", figsize=(8,4))

plt.xlabel("Dog's stages")
plt.ylabel("Mean rating")
plt.title("Favoritism in rating of a given stage compared to others");

From this plot, we can observe that the ratings per stage are nearly the same. We can conclude that there is no bias for/against a particular dog stage.            
However, we can see that Puppo tend to a have higher rating compared to other stages, closely followed by Floofer and Doggo.

#### Is the score influenced by the level of interest ?

We will be interested here by the relationship between the rating and the retweet count.

In [ ]:
tweets_master_df.plot(kind="scatter",x="retweet_count",y="rating")
plt.xlabel("Retweets count")
plt.ylabel("Ratings")
plt.title("Relationship between retweets count and rating");

There is little linear correlation between the retweets count and the rating. So the ones is not (linearly) influenced by the other.                        
We will also check the relationship between favorites count and the rating, to see if the rating is influenced by how much the dog was loved.

In [ ]:
tweets_master_df.plot(kind="scatter",x="favorite_count",y="rating")
plt.xlabel("Favorites count")
plt.ylabel("Ratings")
plt.title("Relationship between favorites count and rating");

We can also notice that there is no (linear) relationship between the rating and the favorites count.

Based on the above two plots, we can safely conclude that the rating is not influenced by neither the favorites count nor the retweets count.

#### Is the ratings influenced by the day period ?

Here, we are trying to determine if the day period (morning, miday, evening, afternoon, ...) somehow has an impact on the ratings.

Since we are going to work with day periods, we will create a new feature based on our available datas.

In [ ]:
tweets_master_df.head(3).T

In [ ]:
# tweets_master_df["timestamp"].value_counts()

In [ ]:
tweets_master_df = operate_datetime_feature_engineering(tweets_master_df, datetime_column="timestamp")
tweets_master_df.sample(3).T

In [ ]:
mean_rating_per_period = tweets_master_df.groupby("period")  \
                                         .mean()   \
                                         .loc[:,"rating"]  \
                                         .sort_values(ascending=False)

mean_rating_per_period

We can already observe that theoretically, the best period to tweet a dog's post in order to maximize the chance of having a high rating is the Morning, followed by the Afternoon; worst case scenario, the post should be done at the start of Night. A chart will help us better observe the situation.

In [ ]:
mean_rating_per_period.plot(kind="bar", figsize=(8,4))

plt.xlabel("Day period")
plt.ylabel("Mean rating")

plt.title("Mean rating per day period");

The difference in ratings based on the day period may be related to the availability of the rater, that is to say how much time and care the rater can devote to evaluate the dog before providing a rating.

We have deduced that the day period have impact on the rating. Now we will investigate if the number of images is likely to have an impact on the rating.

<!-- Now we will push our investigation further to see how ratings vary based not only on day period but also the breed. -->

#### Is the number of images associated wih a post help increase its rating ?

We will investigate the mean rating based on the number of images per tweet.

In [ ]:
# Mean rating per dog images
mean_rating_per_images = tweets_master_df.groupby("img_num")  \
                                         .mean()   \
                                         .loc[:,"rating"]  \
                                         .sort_values(ascending=False)

mean_rating_per_images

In [ ]:
# Plot mean rating per dog images
mean_rating_per_images.plot(kind="bar", figsize=(8,4))

plt.xlabel("Tweet images count")
plt.ylabel("Mean rating")
plt.title("Mean rating per tweet images count")

The number of images doesn't have a **major** impact in the rating given. But they do however have some little effect, since we can observe a slight increase in the mean rating each time the number of images is incremented. So when sending a post on WeRateDog, it is better to join 3-4 good images.

#### Is a particular breed favored in ratings compared to others ?

We will investigate the mean rating based on the breed in our dataset.

In [ ]:
# Mean rating per breed
mean_rating_per_breed = tweets_master_df.groupby("breed")  \
                                        .mean()  \
                                        .loc[:,"rating"] \
                                        .sort_values(ascending=False)

mean_rating_per_breed

In [ ]:
# Plot the mean rating per breed
mean_rating_per_breed.plot(kind="bar",figsize=(16,6))

plt.xlabel("Breed")
plt.ylabel("Mean rating")
plt.title("Mean rating per breed");

The mean ratings per dog breed are nearly the same, except for `Clumber` and `Japanese_spaniel`. We will take a look at the data of those breeds in our dataset.

In [ ]:
targeted_breed = ["Clumber","Japanese_spaniel"]

tweets_master_df.query("breed in {}".format(targeted_breed)).T

We have only one entry for each of the breeds `Clumber` and `Japanese_spaniel`. So we can safely consider these ratings as exception that happen once in a while, a rating that cannot be generalise to the rest of our dataset.

Based on the above observations, we can deduce that the Reviewer has no bias toward a particular breed. As for the little difference in ratings for each breed, it should be related to how each breed usually take a pose on its photo.

<a href="conclusion"> </a>

## Conclusion

The dog's rating system on [WeRateDogs](https://twitter.com/dog_rates) is relatively fair. There is no to little bias when evaluating a dog.         
We have identified some factors that can help score higher rating :
* The best day's period to submit a dog's tweet are the morning and the afternoon.
* The number of pictures to join to the tweet should be 03 or 04

We have also seen that the majority of dogs are the stage of `puppo, doggo, or floofer`.